---
layout: default
title: Red Style Salon
---

{% include header.html %}


<!-- Section 1: redlinks on the bottom home page -->
<div class="mx-auto md:flex justify-between items-center flex-nowrap my-2 px-4 lg:py-0 py-5">

  <div class="flex md:w-full w-1/3 flex-shrink-1 flex-wrap items-start justify-start">

    <ul class="flex flex-shrink-0 leading-normal text-gray-500 font-alt mr-14">
      <li class="text-gray-300 pr-2">Cele mai recente lucrări</li>
      <li class="pr-2">|</li>
      <li class="redlink">
        <a href="#" class="text-brand text-base">Vizualizează</a>
      </li>
    </ul>

    <ul class="flex flex-shrink-0 leading-normal text-gray-500 font-alt mr-14">
      <li class="text-gray-300 pr-2">Colectivul nostru</li>
      <li class="pr-2">|</li>
      <li class="redlink">
        <a href="#" class="text-brand text-base">Cunoaște</a>
      </li>
    </ul>

    <ul class="flex flex-shrink-0 leading-normal text-gray-500 font-alt mr-14">
      <li class="text-gray-300 pr-2">Produse folosite</li>
      <li class="pr-2">|</li>
      <li class="redlink">
        <a href="#" class="text-brand text-base">Vezi</a>
      </li>    
    </ul>

  </div>

  <div class="flex flex-shrink-0 text-white lg:mt-0 mt-6">
    <form action="#">
      <div class="flex md:flex-nowrap flex-wrap items-center justify-start">
        <input type="email" class="text-white border bg-transparent py-3 px-5 w-full mr-3" placeholder="Emailul dumneavoastră...">
        <input type="submit" class="btn-primary font-altBarlow font-bold transition duration-500 ease-in-out bg-brand border border-brand hover:bg-transparent hover:border-white py-3 px-4" value="Trimiteți">
      </div>
    </form>
  </div>

</div>


<!-- Section 2: image thumbnails & image slider -->
<div class="target">
<div class="flex items-stretch justify-start mb-10 px-4 relative overflow-hidden">

    <a href="#" class="relative group block mr-4 flex-shrink-1">
    <div class="absolute inset-0 bg-black transition duration-700 ease-in-out group-hover:opacity-90 opacity-0 flex-col justify-end text-white px-4 py-4 overflow-y-scroll">
      <h3 class="text-lg mb-2">Titlu imagine</h3>
      <p class="leading-normal">Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Dicta maxime, molestias. Unde fugiat, accusantium minima reiciendis quasi nostrum autem ut quisquam? Suscipit id qui, est dignissimos ex nobis laboriosam, accusantium.</p>
    </div>
    <img src="assets/img/c_front_color.jpg" alt="Back">
  </a>

  <a href="#" class="relative group block mr-4 flex-shrink-1">
    <div class="absolute inset-0 bg-black transition duration-700 ease-in-out group-hover:opacity-90 opacity-0 flex-col justify-end text-white px-4 py-4 overflow-y-scroll">
      <h3 class="text-lg mb-2">Titlu imagine</h3>
      <p class="leading-normal">Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Dicta maxime, molestias. Unde fugiat, accusantium minima reiciendis quasi nostrum autem ut quisquam? Suscipit id qui, est dignissimos ex nobis laboriosam, accusantium.</p>
    </div>
    <img src="assets/img/c_left_color.jpg" alt="Back">
  </a>

  <a href="#" class="relative group block mr-4 flex-shrink-1">
    <div class="absolute inset-0 bg-black transition duration-700 ease-in-out group-hover:opacity-90 opacity-0 flex-col justify-end text-white px-4 py-4 overflow-y-scroll">
      <h3 class="text-lg mb-2">Titlu imagine</h3>
      <p class="leading-normal">Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Dicta maxime, molestias. Unde fugiat, accusantium minima reiciendis quasi nostrum autem ut quisquam? Suscipit id qui, est dignissimos ex nobis laboriosam, accusantium.</p>
    </div>
    <img src="assets/img/c_back_color.jpg" alt="Back">
  </a>

  <a href="#" class="relative group block mr-4 flex-shrink-1">
    <div class="absolute inset-0 bg-black transition duration-700 ease-in-out group-hover:opacity-90 opacity-0 flex-col justify-end text-white px-4 py-4 overflow-y-scroll">
      <h3 class="text-lg mb-2">Titlu imagine</h3>
      <p class="leading-normal">Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Dicta maxime, molestias. Unde fugiat, accusantium minima reiciendis quasi nostrum autem ut quisquam? Suscipit id qui, est dignissimos ex nobis laboriosam, accusantium.</p>
    </div>
    <img src="assets/img/c_right_color.jpg" alt="Back">
  </a>

  {% include carousel.html name="assets/img" height="10" unit="%" %}

</div>
</div>

<!-- Section 3: Despre servicile noastre -->
<div id="servicii" class="container mx-auto font-alt text-white text-center mb-8 py-8 md:px-0 px-4">

  <div class="text-gray-400 mb-12 md:text-lg text-base">
    Frizerie <span class="px-1 text-brand"> &#8226; </span> Coafură <span class="px-1 text-brand"> &#8226; </span> Manichiură <span class="px-1 text-brand"> &#8226; </span> Pedichiură
  </div>

  <h2 class="md:text-5xl text-2xl font-sans font-semibold mb-10 tracking-wide">
    <span class="text-gray-400">Despre</span> serviciile noastre
  </h2>

  <p class="opacity-70 max-w-screen-md mx-auto font-alt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate minus alias, debitis quidem fugit dolorem, omnis sunt, a, atque expedita magni harum nobis enim? Iusto doloribus atque, natus sapiente vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim soluta pariatur rem suscipit blanditiis quis quasi nisi perspiciatis debitis possimus cum illo, sunt, minus natus beatae dolores sed harum repellendus.</p>

  <a href="#" class="redlink text-brand my-6 flex justify-center">Mai multe informații +</a>

</div>

<!-- Section 4: Salon-cta -->
<div class="relative flex flex-wrap items-center salon-cta md:py-1 py-10 px-4">

  <div class="absolute inset-0 w-full h-full opacity-60 z-negative">

    <img src="{{ site.baseurl }}/assets/img/monalisa.jpg" alt="" class="object-cover object-center w-full h-full">

  </div>

  <div class="absolute inset-5 border border-gray-200 rounded-md">
  </div>

  <div class="container mx-auto text-center w-full z-20">

    <h3 class="md:text-6xl text-3xl text-gray-100 font-serif font-bold tracking-wide mb-4 py-8 px-10">De-a fir a păr... cu hairstyliștii noștri</h3>

    <a href="#portofoliu_tip_2" class="inline-flex items-center justify-center text-white text-lg w-full hover:opacity-75">
      <!-- <img src="{{ site.baseurl }}/assets/img/play-button.svg" alt="#"> -->
      <span class="ml-3 border-b-4 border-brand pb-1 leading-none">
        Vezi galeria de imagini
      </span>
    </a>

    <div class="w-auto">
      <a href="#" class="inline-flex items-center justify-center text-white text-xl font-bold font-altBarlow tracking-wide border rounded-lg bg-transparent hover:bg-white hover:text-brand px-14 py-3 md:mt-7 mt-4">
        Manager salon
      </a>
    </div>

  </div>
  
</div>


<!-- Section 5: Programari via email using Formspree (open source solution) -->
<div id="programari" class="flex md:flex-nowrap flex-wrap justify-center items-center">

  <div class="flex-col flex-nowrap block mx-10 px-12 my-10 text-white">
      <h2 class="text-gray-400 md:text-5xl text-2xl font-altBarlow font-bold tracking-wide pb-10">Faceți o programare</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit in eveniet soluta quisquam quam velit, dolor, odio, blanditiis eum neque voluptatem, placeat. Accusamus, pariatur. Obcaecati voluptatum minus id rerum error.</p>
  </div>


  <div class="flex-col flex-nowrap items-start justify-start mx-4">

    <form name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xayannpk" method="POST">

      <div class="border-l border-brand mx-10 my-10 block ">
        <label for="full-name"></label>
        <input type="text" name="name" id="full-name" class="text-white bg-transparent font-alt py-3 pl-5 pr-60  border-b border-brand" placeholder="Numele/ prenumele:" required="" oninvalid="this.setCustomValidity('Vă rugăm introduceți numele/ prenumele dvs.')" oninput="setCustomValidity('')">

        <label for="email-address"></label>
        <input type="email" id="email-address" class="text-white bg-transparent font-alt py-3 pl-5 pr-60 border-b border-brand" placeholder=" Adresa de email:" name="_replyto" required="" oninvalid="this.setCustomValidity('Vă rugăm introduceți emailul dvs.')" oninput="setCustomValidity('')">
        
        <label for="message"></label>
        <textarea rows="7" name="message" id="message" class="text-white bg-transparent font-alt pl-5 pr-64 pt-3 border-b border-brand" placeholder="Mesajul dumneavoastră..." required="" oninvalid="this.setCustomValidity('Mesajul nu poate fi trimis fără conținut!')" oninput="setCustomValidity('')"></textarea>

        <button type="submit" class="block ml-5 btn-primary font-altBarlow font-bold transition duration-500 ease-in-out bg-brand border border-brand hover:bg-transparent hover:border-white">Trimiteți</button>
      </div>

    </form>

  </div>

</div>


{% include grideffects_layout.html %}

{% include flexmasonry_layout.html %} 

{% include  macy_layout.html %}  


{% include footer.html %}








