---
layout: default
---


<!-- Section Flex masonry -->
<div class="container mx-auto">
  <div id="portofoliu_tip_2" class="container mx-auto text-center mb-14 mt-20 text-white">

    <h2 class="text-gray-400 md:text-5xl text-2xl font-altBarlow font-bold tracking-wide pt-10">Flex masonry </h2>
    
  </div>

  <div class="pics">
    <div class="gridFM" id="">
        
        <div class="inner">
          <img src="http://unsplash.it/557/387/" alt="">
        </div>
        
        <div class="inner">
          <img src="https://source.unsplash.com/Imc-IoZDMXc" alt="">
        </div>

        <div class="inner">
          <img src="https://source.unsplash.com/SOZWHqeXcPQ" alt="">
        </div>

        <div class="inner">
          <img src="https://source.unsplash.com/bkdzvgBB7rQ" alt="">
        </div>

        <div class="inner">
          <img src="https://source.unsplash.com/E2ZuBbBtrVk" alt="">
        </div>

        <div class="inner">
          <img src="https://source.unsplash.com/Wkf2R-GK-pc" alt="">
        </div>

        <div class="inner">
          <img src="https://source.unsplash.com/E2ZuBbBtrVk" alt="">
        </div>

        <div class="inner">
          <img src="https://source.unsplash.com/Imc-IoZDMXc" alt="">
        </div>

        <div class="inner">
          <img src="https://source.unsplash.com/t3DHojIo-08" alt="">
        </div>
        
        <div class="inner">
          <img src="https://source.unsplash.com/Imc-IoZDMXc" alt="">
        </div>

        <div class="inner">
          <img src="https://source.unsplash.com/SOZWHqeXcPQ" alt="">
        </div>

        <div class="inner">
          <img src="https://source.unsplash.com/bkdzvgBB7rQ" alt="">
        </div>

        <div class="inner">
          <img src="https://source.unsplash.com/E2ZuBbBtrVk" alt="">
        </div>

        <div class="inner">
          <img src="https://source.unsplash.com/Wkf2R-GK-pc" alt="">
        </div>

        <div class="inner">
          <img src="https://source.unsplash.com/E2ZuBbBtrVk" alt="">
        </div>

        <div class="inner">
          <img src="https://source.unsplash.com/Imc-IoZDMXc" alt="">
        </div>
       
    </div>
  </div>

</div>