---
layout: default
---




<!-- Section Grid Effects + masonry layout -->
<div class="container mx-auto">
  <div id="portofoliu" class="container mx-auto text-center mb-14 mt-20 text-white">

    <h2 class="text-gray-400 md:text-5xl text-2xl font-altBarlow font-bold tracking-wide pt-10">Grid effects - masonry</h2>
    
  </div>

<!-- <div class="pics"> -->   
  <ul class="grid effect-1" id="grid">
      <li class="shown">
         <a href=""><img src="{{ site.baseurl }}/assets/img/1.jpg"></a>
         <div><h5 class="text-gray-500">Description text caption</h5></div>
      </li>
      <li class="shown"><a href=""><img src="{{ site.baseurl }}/assets/img/14.png"></a></li>
      <li class="shown"><a href=""><img src="{{ site.baseurl }}/assets/img/5.jpg"></a></li>
      <li><a href="http://drbl.in/fKCf"><img src="{{ site.baseurl }}/assets/img/6.jpg"></a></li>
      <li><a href="http://drbl.in/fLBG"><img src="{{ site.baseurl }}/assets/img/7.jpg"></a></li>
      <li><a href="http://drbl.in/fPEY"><img src="{{ site.baseurl }}/assets/img/8.jpg"></a></li>
      <li><a href="http://drbl.in/fWwG"><img src="{{ site.baseurl }}/assets/img/9.jpg"></a></li>
      <li><a href="http://drbl.in/fQdt"><img src="{{ site.baseurl }}/assets/img/12.png"></a></li>
      <li><a href="http://drbl.in/fHaa"><img src="{{ site.baseurl }}/assets/img/13.png"></a></li>
      <li><a href="http://drbl.in/gXMo"><img src="{{ site.baseurl }}/assets/img/10.png"></a></li>
      <li><a href="http://drbl.in/gXMn"><img src="{{ site.baseurl }}/assets/img/11.png"></a></li>
      <li><a href="http://drbl.in/fzYo"><img src="{{ site.baseurl }}/assets/img/2.jpg"></a></li>
      <li><a href="http://drbl.in/fARU"><img src="{{ site.baseurl }}/assets/img/14.png"></a></li>
      <li><a href="http://drbl.in/fWMM"><img src="{{ site.baseurl }}/assets/img/1.jpg"></a></li>
      <li><a href="http://drbl.in/fWPV"><img src="{{ site.baseurl }}/assets/img/3.jpg"></a></li>
      <li><a href="http://drbl.in/fWMT"><img src="{{ site.baseurl }}/assets/img/4.jpg"></a></li>
      <li><a href="http://drbl.in/fGhI"><img src="{{ site.baseurl }}/assets/img/5.jpg"></a></li>
      <li><a href="http://drbl.in/fKCf"><img src="{{ site.baseurl }}/assets/img/6.jpg"></a></li>
      <li><a href="http://drbl.in/fLBG"><img src="{{ site.baseurl }}/assets/img/7.jpg"></a></li>
      <li><a href="http://drbl.in/fPEY"><img src="{{ site.baseurl }}/assets/img/8.jpg"></a></li>
      <li><a href="http://drbl.in/fWwG"><img src="{{ site.baseurl }}/assets/img/9.jpg"></a></li>
      <li><a href="http://drbl.in/fQdt"><img src="{{ site.baseurl }}/assets/img/12.png"></a></li>
      <li><a href="http://drbl.in/fHaa"><img src="{{ site.baseurl }}/assets/img/13.png"></a></li>
      <li><a href="http://drbl.in/gXMo"><img src="{{ site.baseurl }}/assets/img/10.png"></a></li>
      <li><a href="http://drbl.in/gXMn"><img src="{{ site.baseurl }}/assets/img/11.png"></a></li>
      <li><a href="http://drbl.in/fzYo"><img src="{{ site.baseurl }}/assets/img/2.jpg"></a></li>
      <li><a href="http://drbl.in/fARU"><img src="{{ site.baseurl }}/assets/img/14.png"></a></li>
      <li><a href="http://drbl.in/fWMM"><img src="{{ site.baseurl }}/assets/img/1.jpg"></a></li>
      <li><a href="http://drbl.in/fWPV"><img src="{{ site.baseurl }}/assets/img/3.jpg"></a></li>
      <li><a href="http://drbl.in/fWMT"><img src="{{ site.baseurl }}/assets/img/4.jpg"></a></li>
      <li><a href="http://drbl.in/fGhI"><img src="{{ site.baseurl }}/assets/img/5.jpg"></a></li>
      <li><a href="http://drbl.in/fKCf"><img src="{{ site.baseurl }}/assets/img/6.jpg"></a></li>
      <li><a href="http://drbl.in/fLBG"><img src="{{ site.baseurl }}/assets/img/7.jpg"></a></li>
      <li><a href="http://drbl.in/fPEY"><img src="{{ site.baseurl }}/assets/img/8.jpg"></a></li>
      <li><a href="http://drbl.in/fWwG"><img src="{{ site.baseurl }}/assets/img/9.jpg"></a></li>
      <li><a href="http://drbl.in/fQdt"><img src="{{ site.baseurl }}/assets/img/12.png"></a></li>
      <li><a href="http://drbl.in/fHaa"><img src="{{ site.baseurl }}/assets/img/13.png"></a></li>
      <li><a href="http://drbl.in/gXMo"><img src="{{ site.baseurl }}/assets/img/10.png"></a></li>
      <li><a href="http://drbl.in/gXMn"><img src="{{ site.baseurl }}/assets/img/11.png"></a></li>
      <li><a href="http://drbl.in/fzYo"><img src="{{ site.baseurl }}/assets/img/2.jpg"></a></li>
      <li><a href="http://drbl.in/fARU"><img src="{{ site.baseurl }}/assets/img/14.png"></a></li>
      <li><a href="http://drbl.in/fWMM"><img src="{{ site.baseurl }}/assets/img/1.jpg"></a></li>
      <li><a href="http://drbl.in/fWPV"><img src="{{ site.baseurl }}/assets/img/3.jpg"></a></li>
      <li><a href="http://drbl.in/fWMT"><img src="{{ site.baseurl }}/assets/img/4.jpg"></a></li>
      <li><a href="http://drbl.in/fGhI"><img src="{{ site.baseurl }}/assets/img/5.jpg"></a></li>
      <li><a href="http://drbl.in/fKCf"><img src="{{ site.baseurl }}/assets/img/6.jpg"></a></li>
      <li><a href="http://drbl.in/fLBG"><img src="{{ site.baseurl }}/assets/img/7.jpg"></a></li>
      <li><a href="http://drbl.in/fPEY"><img src="{{ site.baseurl }}/assets/img/8.jpg"></a></li>
      <li><a href="http://drbl.in/fWwG"><img src="{{ site.baseurl }}/assets/img/9.jpg"></a></li>
      <li><a href="http://drbl.in/fQdt"><img src="{{ site.baseurl }}/assets/img/12.png"></a></li>
      <li><a href="http://drbl.in/fHaa"><img src="{{ site.baseurl }}/assets/img/13.png"></a></li>
      <li><a href="http://drbl.in/gXMo"><img src="{{ site.baseurl }}/assets/img/10.png"></a></li>
      <li><a href="http://drbl.in/gXMn"><img src="{{ site.baseurl }}/assets/img/11.png"></a></li>
      <li><a href="http://drbl.in/fzYo"><img src="{{ site.baseurl }}/assets/img/2.jpg"></a></li>
      <li><a href="http://drbl.in/fARU"><img src="{{ site.baseurl }}/assets/img/14.png"></a></li>
      <li><a href="http://drbl.in/fWMM"><img src="{{ site.baseurl }}/assets/img/1.jpg"></a></li>
      <li><a href="http://drbl.in/fWPV"><img src="{{ site.baseurl }}/assets/img/3.jpg"></a></li>
      <li><a href="http://drbl.in/fWMT"><img src="{{ site.baseurl }}/assets/img/4.jpg"></a></li>
      <li><a href="http://drbl.in/fGhI"><img src="{{ site.baseurl }}/assets/img/5.jpg"></a></li>
      <li><a href="http://drbl.in/fKCf"><img src="{{ site.baseurl }}/assets/img/6.jpg"></a></li>
      <li><a href="http://drbl.in/fLBG"><img src="{{ site.baseurl }}/assets/img/7.jpg"></a></li>
      <li><a href="http://drbl.in/fPEY"><img src="{{ site.baseurl }}/assets/img/8.jpg"></a></li>
      <li><a href="http://drbl.in/fWwG"><img src="{{ site.baseurl }}/assets/img/9.jpg"></a></li>
      <li><a href="http://drbl.in/fQdt"><img src="{{ site.baseurl }}/assets/img/12.png"></a></li>
      <li><a href="http://drbl.in/fHaa"><img src="{{ site.baseurl }}/assets/img/13.png"></a></li>
      <li><a href="http://drbl.in/gXMo"><img src="{{ site.baseurl }}/assets/img/10.png"></a></li>
      <li><a href="http://drbl.in/gXMn"><img src="{{ site.baseurl }}/assets/img/11.png"></a></li>
      <li><a href="http://drbl.in/fzYo"><img src="{{ site.baseurl }}/assets/img/2.jpg"></a></li>
      <li><a href="http://drbl.in/fARU"><img src="{{ site.baseurl }}/assets/img/14.png"></a></li>
      <li><a href="http://drbl.in/fWMM"><img src="{{ site.baseurl }}/assets/img/1.jpg"></a></li>
      <li><a href="http://drbl.in/fWPV"><img src="{{ site.baseurl }}/assets/img/3.jpg"></a></li>
      <li><a href="http://drbl.in/fWMT"><img src="{{ site.baseurl }}/assets/img/4.jpg"></a></li>
      <li><a href="http://drbl.in/fGhI"><img src="{{ site.baseurl }}/assets/img/5.jpg"></a></li>
      <li><a href="http://drbl.in/fKCf"><img src="{{ site.baseurl }}/assets/img/6.jpg"></a></li>
      <li><a href="http://drbl.in/fLBG"><img src="{{ site.baseurl }}/assets/img/7.jpg"></a></li>
      <li><a href="http://drbl.in/fPEY"><img src="{{ site.baseurl }}/assets/img/8.jpg"></a></li>
      <li><a href="http://drbl.in/fWwG"><img src="{{ site.baseurl }}/assets/img/9.jpg"></a></li>
      <li><a href="http://drbl.in/fWPV"><img src="{{ site.baseurl }}/assets/img/3.jpg"></a></li>
      <li><a href="http://drbl.in/fGhI"><img src="{{ site.baseurl }}/assets/img/5.jpg"></a></li>
      <li><a href="http://drbl.in/fzYo"><img src="{{ site.baseurl }}/assets/img/2.jpg"></a></li>
    </ul>
  <!-- </div> -->
</div>