<header class="header relative lg:overflow-hidden">

  <div class="absolute inset-0 z-negative lg:opacity-70 opacity-50">
    <img src="assets/img/bkg_image.jpg" class="object-cover object-left-top w-full h-full" alt="Daniela">
  </div>

 {% include navigation.html %}

  <div class="mx-auto flex justify-end items-start lg:mt-7 lg:px-9 px-2">

    <div class="flex-col">

      <div class="md:pl-7 md:border-l border-white">
        <p class="text-gray-300 md:pl-4 pl-8 pb-10 md:pt-0 pt-7 leading-none tracking-wide md:text-xl text-base font-light font-altBarlow">Specialiști în frumusețe!
        </p>
        
        <h1 class="text-white md:pl-4 pl-8 md:text-7xl text-4xl font-sansserif font-extrabold tracking-wide"> <span class="text-gray-400"> Salon </span> <br> <span class="text-brand">Red </span>Style</h1>
        
        <p class="text-white text-base font-light font-alt md:max-w-lg md:my-4 md:pl-4 pl-8 pr-2 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates accusantium voluptas eligendi reiciendis iusto eveniet, cumque. Eum quas sint alias temporibus vitae quaerat rerum praesentium, deserunt ratione a harum maxime.</p>
        
        <a href="#programari" class="btn-primary shadow-inner transition duration-500 ease-in-out bg-brand border border-brand hover:bg-transparent transform hover:-translate-y-1 hover:scale-110 hover:border hover:border-white md:ml-4 ml-8 mt-14 font-altBarlow tracking-wide text-xl rounded">Faceți o programare!</a>
      </div>

      <div class="md:pl-1 md:mt-20 mt-10">

          {% include share-buttons.html %}

      </div>
    </div>

  </div>

</header>