---
layout: default
---




<!-- Macy layout -->
<div class="container mx-auto">
  <div id="" class="container mx-auto text-center mb-14 mt-20 text-white">

    <h2 class="text-gray-400 md:text-5xl text-2xl font-altBarlow font-bold tracking-wide pt-10">Macy layout</h2>
    
  </div>

 <div class="pics">
  <div id="macy-container">

      <div class="inner_macy"><a href="#top"><img src="http://unsplash.it/557/387/" alt="" class=""></a></div>
      <div class="inner_macy"><img src="https://source.unsplash.com/E2ZuBbBtrVk" alt=""></div>
      <div class="inner_macy" macy-complete="1"><img src="http://unsplash.it/557/387/" alt="" class=""></div>
      <div class="inner_macy"><img src="https://source.unsplash.com/t3DHojIo-08" alt=""></div>
      <div class="inner_macy" macy-complete="1"><img src="http://unsplash.it/557/387/" alt="" class=""></div>
      <div class="inner_macy"><img src="https://source.unsplash.com/Imc-IoZDMXc" alt=""></div>
      <div class="inner_macy" macy-complete="1"><img src="http://unsplash.it/557/387/" alt="" class=""></div>
      <div class="inner_macy"><img src="https://source.unsplash.com/bkdzvgBB7rQ" alt=""></div>
      <div class="inner_macy" macy-complete="1"><img src="http://unsplash.it/557/387/" alt="" class=""></div>
      <div class="inner_macy"><img src="https://source.unsplash.com/Imc-IoZDMXc" alt=""></div>
      <div class="inner_macy" macy-complete="1"><img src="http://unsplash.it/557/387/" alt="" class=""></div>
      <div class="inner_macy"><img src="https://source.unsplash.com/Imc-IoZDMXc" alt=""></div>
      <div class="inner_macy" macy-complete="1"><img src="http://unsplash.it/557/387/" alt="" class=""></div>
      <div class="inner_macy"><img src="https://source.unsplash.com/bkdzvgBB7rQ" alt=""></div>
      <div class="inner_macy" macy-complete="1"><img src="http://unsplash.it/557/387/" alt="" class=""></div>
      <div class="inner_macy"><img src="https://source.unsplash.com/Imc-IoZDMXc" alt=""></div>
      <div class="inner_macy" macy-complete="1"><img src="http://unsplash.it/557/387/" alt="" class=""></div>
      <div class="inner_macy"><img src="https://source.unsplash.com/Imc-IoZDMXc" alt=""></div>
      <div class="inner_macy" macy-complete="1"><img src="http://unsplash.it/557/387/" alt="" class=""></div>
      <div class="inner_macy"><img src="https://source.unsplash.com/Imc-IoZDMXc" alt=""></div>
      <div class="inner_macy" macy-complete="1"><img src="http://unsplash.it/557/387/" alt="" class=""></div>
      <div class="inner_macy"><img src="https://source.unsplash.com/Imc-IoZDMXc" alt=""></div>
      <div class="inner_macy" macy-complete="1"><img src="http://unsplash.it/557/387/" alt="" class=""></div>
      <div class="inner"><img src="https://source.unsplash.com/Imc-IoZDMXc" alt=""></div>
      <div class="inner_macy" macy-complete="1"><img src="http://unsplash.it/557/387/" alt="" class=""></div>
      <div class="inner_macy"><img src="https://source.unsplash.com/Imc-IoZDMXc" alt=""></div>
      <div class="inner_macy" macy-complete="1"><img src="http://unsplash.it/557/387/" alt="" class=""></div>
      <div class="inner_macy"><img src="https://source.unsplash.com/Imc-IoZDMXc" alt=""></div>
      <div class="inner_macy" macy-complete="1"><img src="http://unsplash.it/557/387/" alt="" class=""></div>
      <div class="inner_macy"><img src="https://source.unsplash.com/Imc-IoZDMXc" alt=""></div>
      <div class="inner_macy" macy-complete="1"><img src="http://unsplash.it/557/387/" alt="" class=""></div>
      <div class="inner_macy"><img src="https://source.unsplash.com/Imc-IoZDMXc" alt=""></div>

    </div>
  </div>

</div>